/*  GENERAL */

* {
	box-sizing:border-box;
}

html {
	position:relative;
	min-height: 100%;
	
}


/*images*/
/*img {
	max-width: 100%;
}*/

body {
	margin:0 0 60px 0;
	padding:0;
	background: url('../img/coverpage.jpg') no-repeat center fixed;
	background-size: cover;
	
}

/*Header (Nasarow fo to)*/
header {
	color:deepskyblue;
	text-align: center;
	float: left;
	margin: 0 0 0 0;
	padding: 0 0 8rem 0;
	width:100%;
	background: linear-gradient(#1864DF, transparent 90%);
	border-color: #599a68;
	/* Rectangle 6: */
	/*background-image: linear-gradient(-180deg, rgba(86,215,35,0.80) 0%, rgba(88,188,31,0.50) 100%);*/
}

.opaque-back {
	background-color:rgba(10,10,10,.5);
}
p {
	color:white;
}

/* Navigation*/
nav {
	text-align: center;
	margin: 20px 0 0;
	padding: 10px 0;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;

}
nav li {
	display: inline-block;
	font-family: AvenirNext-Bold;
	font-size: 14;
	padding: 15px 10px;
	list-style: none;
}

a[href$=".html"] {
	color: #FA9017;
}



nav a.selected, a:hover {
	color: #FAF017;
	text-decoration: none;
}



.lead {
	text-align: center;
	color:white;
}



/*View Work Button*/


#view_button {
	/* Rectangle 9: */
	text-decoration: none;
	background-image: linear-gradient(-180deg, #53D6FD 0%, #D8D8D8 100%);
	border: 2px solid #5E4F94;
	box-shadow: 2px 1px 0px 0px rgba(13,17,64,0.50);
	border-radius: 8px;
	margin-top:150px;
	margin-bottom: 50px;
	max-width: 100px;
	color: black;


}

/***********GALLERY***************/

img[src*="-fo-to"]{
	max-height: 250px;
}

.img-thumbnail {
	background-color: rgba(10,10,10,.05);
	border:none;

}



/*******ABOUT********/

#about_div h1{
	text-align: center;
	margin: 0 25px;
	padding-bottom: 10px;
	color: skyblue;
}

.p-style {
	max-width:500px;
}

.p-style p{
	text-decoration:none;
	padding: 0 0 2% 5px;
	margin: 20px 0 0 0;
	line-height: 30px;
}

.p-style p:nth-child(3n+1)::first-line,
.p-style p:nth-child(3n+1)::first-letter{
	font-size: 1.5em;
}

.p-style p:nth-child(-n+5)::before {
	content: "";
	display:inline-block;
	width: 14px;
	height: 14px;
	border-radius: 50%;
	margin: 0 5px;
}


/**********Contact Page FOrm**********/
.con-form {
	background-color: rgba(10,10,10,.5);	
}


h3 {
	color:skyblue;

}

form {
	max-width: 400px;
	display: block;
	margin: 20px auto;
	border-radius: 5px;
	padding: 10px;
	background-color: #B8B8AC;
}

legend {
	margin:5px 0 5px 0;
}

.number {
  background-color: #FA9017;
  color: #fff;
  height: 30px;
  width: 20px;
  display: inline-block;
  font-size: 1em;
  margin-right: 4px;
  margin-bottom:3px;
  line-height: 28px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255,255,255,0.2);
  border-radius: 25%;
}

input[type="text"],
input[type="email"]
 {
	margin: 5px 0;
	height:auto;
	width: 100%;
	padding: 5px;
}

label {
  display: block;
  margin-bottom: 15px;
  margin-top:5px;
}

label.light {
  font-weight: 300;
  display: inline;
}

input[type="radio"] {
	margin: 0 4px 8px 0;
}

textarea {
	resize: none;
	width:100%;
}


/*Footer area*/

footer {
	font-size: 0.75em;
	text-align:center;
	position: absolute;
  	bottom: 0;
  	width: 100%;
  	/* Set the fixed height of the footer here */
  	height: 60px;
  	color:lightgrey;
  	padding-top: 10px;
  	background-color:rgba(10,10,10,.5);
}

/* DRY Classes*/

.col-xs-12,
.col-sm-6,
.col-md-4, 
.col-lg-3:only-child {
	height:300px;
	width:auto;
}



.round{
	border-radius: 50%;
	max-height:250px;
	display: block;
	padding: 10px 0 0 0;
}

/*a[href$=".html"]:disabled {
	background-color:#fff;
}*/

/* Responsiveness */

@media screen and (min-width: 580px) {
	/**********
	Page: Header and Nav

	***********/
	

	header h2 {
		text-align: left;
		margin-left: 5%;
		float: left;
		padding-top: 15px;
	}

	nav {
		float: right;
		text-align: right;
		margin-right: 5%;
		font-size: 1.130em;
		background: none;

	}
}



















