@media screen and (min-width: 580px) {
	/**********
	Page: Header and Nav

	***********/
	header {
		border-bottom: 5px solid rgba(10,221,16,1.0);
		margin-bottom: 60px;
	}

	header h2 {
		text-align: left;
		margin-left: 5%;
		float: left;
		padding-top: 15px;
	}

	nav {
		float: right;
		text-align: right;
		margin-right: 5%;
		font-size: 1.130em;
		background: none;

	}
	

}
